@model User

<div class="text-center">

    <h2>Full Name: @Model.FirstName @Model.LastName </h2>
    <br>
    <h2>Age: @Model.Age</h2>
    <br>
    <h2>Email: @Model.Email </h2>
    <br>
    <h2>Password:@Model.Password </h2>
    <br>
    <h2>FavDate: @Model.FavDate</h2>
    <br>
</div>